
/*

Style du back uniquement

 */

body{
    background-color: var(--back-color);
    width: min(100%, 1100px);
    margin-inline: auto;
}

.logo_col_1{
    color: white;
}

.logo_col_2{
    color: var(--rouge);
}


/** HEADER BACK **/

#header{
    position: sticky;
    top: 0;
    background-color: var(--header-back-color);
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem max(1rem, 1.5rem + 3vw);
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#header>*{
    padding: 10px;
}

#header .site_name{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 2;
}

#header  .logo{
    width: 50px;
    vertical-align: middle;
    filter: invert(1);
}

#header  p{
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
}

#header  i{
    color: var(--rouge);
}


/* Index for multipage */

#dashboard-menu{
    position: fixed;
    height: 100vh;
    width: max(8rem + 5vw, 8rem);

}
#dashboard-menu ul{
    display: flex;
    padding: 1rem;
    flex-flow: column nowrap;
    align-content: center;
    gap: .5rem;
}

#dashboard-menu ul li{
    color: white;
    padding: .5rem;
    border-radius: 3px;
    transition: all .25s;
    cursor: pointer;
    font-weight: 700;
}

#dashboard-menu ul li:hover:not(.li-selected){
    background-color: #b3b3b5;
}

#container{
    margin-left: max(8rem + 5vw, 8rem);
    display: flex;
    flex-direction: column;
}

/**

DASHBOARD PAGE

 */

#dashboard-main .wrap{
    padding-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#dashboard-main .dashboard-items-line{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}

#dashboard-main .dashboard-item{
    background-color: var(--header-back-color);
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
}

#dashboard-main .data-item{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
}

#dashboard-main .data-item .data-name{
    color: var(--rouge);
    font-weight: 300;
}

#dashboard-main .data-item p{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

#dashboard-main .dashboard-item h2{
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
}

#dashboard-main .dashboard-item table {
    width: 100%;
}

#dashboard-main .dashboard-item table td{
    padding: .5rem;
    color: #b3b3b5;
}

#dashboard-main .dashboard-item table .table-header{
    background-color: #191E3A;
    border-radius: 5px;
}

#dashboard-main .dashboard-item table .table-header td{
    color: white;
}

#dashboard-main .dashboard-item table tr:not(.table-header):nth-child(2n+1){
    background-color: rgba(255,255,255,.1);
}

.paginator-item{
    padding: .2rem .5rem .2rem .5rem;
    margin: .2rem;
    border-radius: 3px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    cursor: pointer;
    transition: all .25s;
}

.paginator-item:hover:not(.paginator-selected){
    opacity: .7;
}

.paginator-selected{
    background-color: white;
    color: rgba(0,0,0, 0.7);
}