
/*

Style du back uniquement

 */

body{
    background-color: var(--back-color);
}


/** HEADER BACK **/

#header{
    position: sticky;
    top: 0;
    background-color: var(--header-back-color);
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem max(1rem, 1.5rem + 3vw);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 5;
}
#header>*{
    padding: 10px;
}

#header .site_name{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 2;
}

#header  .logo{
    width: 50px;
    vertical-align: middle;
    filter: invert(1);
}

#header  p{
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
}

#header  i{
    color: var(--rouge);
    cursor: pointer;
}
/* Index for multipage */
#dashboard-menu{
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: max(8rem + 5vw, 8rem);

}
#dashboard-menu ul{
    display: flex;
    padding: 1rem;
    flex-flow: column nowrap;
    align-content: center;
    gap: .5rem;
    background: linear-gradient(var(--back-color), rgba(34, 37, 51, 0));
}

#dashboard-menu ul li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: white;
    padding: .5rem;
    border-radius: 3px;
    transition: all .25s;
    cursor: pointer;
    font-weight: 700;
    background-color: var(--back-color);
}
#dashboard-menu ul li p {
    margin-left: .5rem;
}

#dashboard-menu ul li:hover, #dashboard-menu ul li.li-selected {
    background-color: var(--selected-item-color);
}

#container{
    margin-left: max(8rem + 5vw, 8rem);
    display: flex;
    flex-direction: column;
}
#container section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}
.back-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1rem;

}
.graph-box{
    flex-direction: column;
}
.back-box > div{
    background-color: var(--header-back-color);
    border-radius: 3px;
    width: 100%;
    padding: min(.5rem, 3vw);
}


.back-box .data-box{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.back-box .data-box.clickable{
    cursor: pointer;
    transition: all .25s;
}

.back-box .data-box.clickable:hover{
    background-color: var(--selected-item-color);
}

.back-box .data-box .data-box_name{
    color: var(--rouge);
    font-weight: 700;
    margin-bottom: .3rem;
    text-align: center;

}
.back-box .data-box .data-box_nb{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.back-box h2{
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    margin-left: .4rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

/*  Table */
#container .table {
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    overflow-x: scroll;
    text-align: center;
}

#container .table .table_body{
    width: max(700px, 100%);
    overflow-y: scroll;
}
#container .table .table_head, #container .table .table_body_row{
    padding: .5rem;
    color: var(--gris);
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20% 20%;
    width: max(700px, 100%);
}

#container .table .table_head{
    background-color: #191E3A;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    color: white;
}


#container .table .table_body_row:nth-child(2n+1){
    background-color: rgba(255,255,255,.1);
}
#container .table .table_body_row {
    transition: all .25s;
    cursor: pointer;

}
#container .table .table_body_row:hover{
    background-color: var(--selected-item-color);
}


/* Dashboard Table !!!*/
#last-trames-css {
    height: 40vh;
}
#same-protocol-css {
    height: 40vh;

}

/* Paginator */
.paginator{
    padding: .5rem;
}
.paginator-item{
    padding: .2rem .5rem;
    margin: .2rem;
    border-radius: 3px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    cursor: pointer;
    transition: all .25s;
}
.paginator-item:hover:not(.paginator-selected){
    opacity: .7;
}
.paginator-selected{
    background-color: white;
    color: rgba(0,0,0, 0.7);
}


/* CHART JS BOX*/

.back-box_graph__chatjs{
    width: max(280px, 100%);

}

#header strong{
    font-weight: 700;
}

/**

Details of trame

 */

#detail h2{
    text-align: center;
}
#detail .trame-info-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-flow: row;
    align-items: stretch;
    justify-items: stretch;
    gap: .3rem;

}

#detail .trame-info-data{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    text-align: center;
}

#detail .trame-info-data h4{
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--gris);
}

#detail .trame-info-data p{
    font-weight: 700;
    color: white;
}

#detail .dashboard-item p{
    color: white;
}
#detail .back-box_graph p{
    color: white;
    text-align: center;
    padding: .3rem 1rem;
}

/*Paginator */
.paginator{
    padding-top: .5rem;
}

.paginator-item{
    padding: .2rem .5rem .2rem .5rem;
    margin: .2rem;
    border-radius: 3px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    cursor: pointer;
    transition: all .25s;
}

.paginator-item:hover:not(.paginator-selected){
    opacity: .7;
}

.paginator-selected{
    background-color: white;
    color: rgba(0,0,0, 0.7);
}

/* Modal for logout*/

.modal-content #text-logout{
    font-size: 1.5rem;
    flex-grow: 2;
    text-align: center;
    margin-bottom: 1rem;
}
.modal-content #y, .modal-content #n{
    width: 47%;
    display: inline-block;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    padding: .3rem 1rem;
    color: black;
}
.modal-content #y:hover, .modal-content #n:hover{
    transform: scale(1.03);
}
.modal-content #y:hover{
    color: var(--rouge);
    background-color: white;
}
.modal-content #n:hover{
    color: white;
    background-color: var(--selected-item-color);
}
.modal-content #y a{
    color: var(--rouge);
    width: 100%;

}
.modal-content #y {
    border: 2px solid var(--rouge);
    color: white;
    background-color: var(--rouge);
}
.modal-content #n{
    border: 2px solid var(--back-color);
    color: var(--back-color);
    background-color: var(--gris);
}

/* Chemins */

.chemin-parent{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    color: white;
}

.chemin .return-green{
    color: #53c159;
}

.chemin .return-red{
    color: var(--rouge);
}

.chemin .return-blue{
    color: #2ac1b4;
}

.chemin .chemin-paquet{
    font-size: 3rem;
    position: relative;
}

.chemin span{
    font-size: .8rem;
    font-weight: 300;
    font-family: 'Noto Sans Display', sans-serif;
}

.chemin strong{
    font-weight: 700;
}

.chemin{
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10rem;
    transition: all .25s;
    cursor: pointer;
}

.chemin:hover{
    background-color: var(--back-color);
}

.chemin .chemin-ip{
    position: absolute;
    top: -8%; left: 60px;
}

.chemin .chemin-ip-dest{
    position: absolute;
    top: -8%; left: -90px;
}

.chemin .chemin-identifiant{
    position: absolute;
    top: 35%; left: -100px;
    font-size: .8rem;
}

.chemin .chemin-code-1{
    position: absolute;
    top: -10%; left: 80%;
    font-size: .8rem;
}

.chemin .chemin-code-2{
    position: absolute;
    bottom: -10%; left: 0%;
    font-size: .8rem;
}

.chemin .arrows{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.chemin .arrows .fas .fa-network-wired{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: .8rem;
}

.chemin .arrows .fas .fa-times{
    position: absolute;
    bottom: -60%;
    right: -60%;
    color: var(--rouge);
}

.chemin .arrows .fas .fa-check{
    position: absolute;
    bottom: -60%;
    right: -60%;
    color: greenyellow;
}

/* SEARCH */

#autocomplete{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    overflow-x: scroll;
    height: 150px;
    background-color: #1f1f1f;
    border-radius: 3px;
}

#autocomplete .autocomplete-data{
    color: white;
    transition: all .25s;
    cursor: pointer;
}

#autocomplete .autocomplete-data:hover{
    background-color: #646064;
}

/* RECHERCHE */

#input-search{
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

#input-search::placeholder{
    width: 100%;
    border: none;
    border-radius: 3px;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1rem;
}
