@media screen and (max-width: 700px){
    .footer .footer-top, .footer .footer-bot{
        flex-flow: column nowrap;
        text-align: center;
    }
    .footer .social-red{
        justify-content: center;
    }
    footer .contact{
        align-items: center;
    }
}

@media screen and (max-width: 480px){


}