/*Front only*/
body{
    background-color: var(--gris );
}
/* Header*/
#header{
    position: sticky;
    top: 0;
    /*background-color: var(--gris);*/
    background: linear-gradient(var(--gris) , rgba(196, 196, 196, 0));
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem max(1rem, 1.5rem + 3vw);
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#header>*{
    padding: 10px;
}

#header .site_name{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 2;
}

#header  .logo{
    width: 50px;
    vertical-align: middle;
}

#header  p{
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
    background-color: var(--rouge);
    border-radius: 15px;
    border: solid 2px #ffffff;
    cursor: pointer;
    transition: all .25s;
    padding: .5rem 1.2rem;
}
#header p:hover{
    color: var(--gris);
    background-color: var(--selected-item-color);
    transform: scale(1.03);
}

#header  i{
    color: var(--rouge);
}


/*
INDEX  PHP
*/

/* HERO banner Paralax*/
#hero-banner{
    background: url("../img/background.png")  no-repeat center/cover fixed;
    min-height: 60vh;
    padding: max(1.5rem,  5vw);
    display: flex;
    align-items: center;
}
#hero-banner #box-hero{
    color: white;
}
#hero-banner #box-hero>*{
    margin-bottom: .6rem;
}
#hero-banner #box-hero h2{
    font-size: clamp(1.8rem, 2rem + 3vw , 3rem);
    text-transform: uppercase;
    font-weight: 700;
}
#hero-banner #box-hero p:not(#btn-login){
    font-size: clamp(1.2rem, 1.2rem + 1.5vw , 1.8rem);
}
#hero-banner #box-hero #btn-login{
    background-color: var(--rouge);
    border-radius: 5px;
    cursor: pointer;
    transition: all .25s;
    padding: .5rem 1.2rem;
    font-size: 1rem;
    width: fit-content;
}
#hero-banner #box-hero #btn-login:hover{
    box-shadow: inset  0 3px 10px var(--back-color);
    background-color: var(--selected-item-color);
    color: var(--rouge);
}

/* Functionality*/
#functionality{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--back-color);
    color: white;
    padding: max(1rem, 3vw);
    gap: 4%;
}
#functionality h2{
    font-size: clamp(1.8rem, 2rem + 3vw , 3rem);
    margin-bottom: .8rem;
}
#functionality > div{
    width: 50%;
}
#functionality ul{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    font-size: 1.1rem;
}
#functionality ul li i{
    margin-right: 1rem;
}

/* Analyse */
#analyse{
    background-color: var(--gris);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: max(1rem, 3vw);
    gap: 4%;
}
#analyse h2{
    font-size: clamp(1.8rem, 2rem + 3vw , 3rem);
    margin-bottom: .8rem;
}
#analyse> div{
    width: 50%;
}
#analyse ul{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    font-size: 1.1rem;
}
#analyse ul li i{
    margin-right: 1rem;
}