
/*

Style commun au front et au back

 */

:root{
    --rouge: #FF2525;
    --back-color: #222533;
    --header-back-color: #2F3243;
    --selected-item-color: #6D778A;
    --gris: #C4C4C4;
    --copyright-color: #737373;
}

.li-selected{
    background-color: var(--selected-item-color);
}